---
title: "Blogs (Personal)"
permalink: /personal-tags/
layout: archive
author_profile: true
---

{% assign target_category = "Life" %}
{% assign filtered_taxonomies = "" | split: "" %}

{% for tag in site.tags %}
  {% assign tag_name = tag[0] %}
  {% assign all_posts_in_tag = tag[1] %}
  {% assign filtered_posts = "" | split: "" %}

  {% for post in all_posts_in_tag %}
    {% if post.categories contains target_category %}
      {% assign filtered_posts = filtered_posts | push: post %}
    {% endif %}
  {% endfor %}

  {% if filtered_posts.size > 0 %}
    {% assign tag_group = "" | split: "" | push: tag_name | push: filtered_posts %}
    {% assign filtered_taxonomies = filtered_taxonomies | push: tag_group %}
  {% endif %}
{% endfor %}

{% include posts-taxonomy.html taxonomies=filtered_taxonomies %}