.custom-link-1 {
    --main-color: #3FA4FF;
    --color-1: orange;
    --color-2: #8E403A;
    --color-3: #FFD700;
    --color-4: #FF6347;
    --color-5: green;
    --color-6: #95ceff;
    color: var(--main-color);
}

.custom-link-1:visited {
    color: var(--color-6);
}

// .custom-link-1:hover {
//     color: green;
// }

.custom-link-1:active {
    color: var(--color-1);
}