.custom-link-1 {
    --main-color: #3FA4FF;
    --color-1: orange;
    --color-2: #8E403A;
    --color-3: #FFD700;
    --color-4: #FF6347;
    --color-5: green;
    --color-6: #95ceff;
    color: var(--main-color);
}

.custom-link-1:visited {
    color: var(--color-6);
}

// .custom-link-1:hover {
//     color: green;
// }

.custom-link-1:active {
    color: var(--color-1);
}

// /* 设置每个节点的宽度 */
// .mermaid .node rect {
//     width: 200px !important;
//   }
  
//   /* 设置箭头样式 */
//   .mermaid .edgePath path {
//     stroke: #ff0000;  /* 设置箭头的颜色 */
//     stroke-width: 2px;  /* 设置箭头的宽度 */
//   }